// colors.scss

$deep-sea-blue: #000080;
$ocean-blue: #0077be;
$sky-blue: #87ceeb;
$base-blue: #5995fd;
$word-blue: #409eff;
$hover-blue: #2faee3;
$wave-blue: #b0e0e6;
$wave-white: #f0f8ff;
$light-blue: #ecf5ff;
$beach-yellow: #f1c27d;
$color-black: rgb(32, 33, 36);
$color-white: #fff;
