// colors.scss

$deep-sea-blue: #000080;
$ocean-blue: #0077be;
$sky-blue: #87ceeb;
$base-blue: #5995fd;
$word-blue: #409eff;
$hover-blue: #2faee3;
$deep-blue: #2979ff;
$wave-blue: #b0e0e6;
$wave-white: #f0f8ff;
$light-blue: #ecf5ff;
$beach-yellow: #f1c27d;
$color-black: rgb(32, 33, 36);
$klein-blue: rgba(0, 49, 173, 1);
$btn-blue: #4d84e2;
$classic-font: #282936;
$icon-blue: #5995fd;
