.home {
  .nav {
    display: flex;
    background-color: #f6f8fa;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    //#5995fd
    padding: 16px;
    .nav-start {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      max-height: 32px;
      .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        border: 1.5px solid #d0d7de;
        border-radius: 4px;
        cursor: pointer;
        i {
          font-size: 1.4rem;
          color: #5995fd;
        }
      }
      .top-icon {
        margin-left: 14px;
        width: 40px;
        height: 40px;
      }
      .top-name {
        color: #0077be;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .nav-end {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      max-height: 32px;
      .el-input {
        width: 200px;
        margin-right: 20px;
      }
      .msg-bell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        border: 1.5px solid #d0d7de;
        border-radius: 4px;
        cursor: pointer;
        i {
          font-size: 1.4rem;
          color: #5995fd;
        }
      }

      .avatar {
        .el-avatar {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      .right-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        border: 1.5px solid #d0d7de;
        border-radius: 4px;
        cursor: pointer;
        i {
          font-size: 1.4rem;
          color: #5995fd;
        }
      }
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    .sidebar-top {
      .leave {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        transition: all 0.25s ease;
        cursor: pointer;
        &:hover {
          background-color: #e8e9ea;
          transform: scale(1.1);
        }
        i {
          font-size: 1.4rem;
          color: #5995fd;
        }
      }
    }
    .sidebar-bottom {
      :deep(.el-menu) {
        border-right: 0;
        .el-menu-item {
          height: 40px !important;
          cursor: pointer;
          i {
            font-size: 1.2rem;
            width: 28px;
          }
          &:hover {
            background-color: #ecf5ff;
          }
        }
        .divider {
          margin: 7px;
          background-color: #cdc7c7;
          height: 1px !important;
          transition: none;
        }
      }
    }
    :deep(.el-overlay) {
      background-color: rgba(0, 0, 0, 0.2) !important;
      .drawer {
        display: flex;
        width: 320px !important;
      }
    }
  }
  .left-sidebar {
    .sidebar-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      .siderbar-icon {
        width: 40px;
        height: 40px;
      }
    }
    :deep(.el-overlay) {
      .left-drawer {
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
      }
    }
  }
  .right-sidebar {
    .sidebar-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 24px;
      .user {
        flex: 1 1 auto;
        display: flex;
        align-items: baseline;
        gap: 8px;
        .user-name {
          font-size: 1.2rem;
          overflow-wrap: break-word;
          max-width: 180px;
        }
      }
    }
    :deep(.el-overlay) {
      .right-drawer {
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
      }
    }
  }
}
